@media screen and (max-width: 1220px) {
.pagewrap {
	width: 980px;
}
}
 @media screen and (max-width: 749px) {
.pagewrap {
	width: 600px;
}
}
 @media screen and (max-width: 599px) {
.pagewrap {
	width: 580px;
}
}
 @media screen and (max-width: 579px) {
.pagewrap {
	width: 480px;
}
}
 @media screen and (max-width: 479px) {
.pagewrap {
	width: 360px;
}
}
 @media screen and (max-width: 359px) {
.pagewrap {
	width: 320px;
	padding: 10px;
}
}
