@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/roboto/RobotoCondensed-Regular.eot');
    src: url('../fonts/roboto/RobotoCondensed-Regular.eot') format('embedded-opentype'),
         url('../fonts/roboto/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype'),
         url('../fonts/roboto/RobotoCondensed-Regular.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Farsan;
    src: url('../fonts/Farsan/CormorantGaramond-RegularItalic.ttf');
    font-style: normal;
    font-weight: normal;
}


