/*-- Responsive design --*/

@media(max-width:1440px) {

}
@media(max-width:1336px) {


}
@media(max-width:1280px) {



    .list_product>li {
        width: 33.33%;
    }
}

@media(max-width:1280px) and (min-width:768px ) {

    .item_banner {
        width: 254px;
        height: 254px;
    }



}



@media(max-width:1024px) {



    .list_footer_bottom>li {
        width: 50%;
        float: left;
        padding: 15px;
    }




    .header_top {

        padding-bottom: 15px;
        position: relative;
    }

    .right_header_top {
        position: initial;
    }

    .header_bottom {
        margin-top: 0px;
    }

    .flag {

        bottom: -36px;
        top: initial;
    }


    .wrapper {
        padding: 0px;
    }
    header {
        position: initial;
    }

    .right_header_top {
        padding-right: 15px;
    }

}
@media(max-width:991px) {

    .box_content_detail .left_detail  , .box_content_detail .right_detail{
        width: 100%;
        float: none;
    }

    .flag img {
        max-width: 25px;
    }

    .list_album .item_list {
        width: 33.33%;
    }

    .album .item_album {
        width: 33.33%;
    }



}
@media(max-width:900px) {

    .item_menu {
        width: 100%;

    }

    .box_contact .contact_left {
        width: 100%;
        float: none;
    }

    .box_contact .contact_right {
        width: 100%;
        float: none;

    }


}
@media(max-width:800px) {

    .box_main_about .left_main_about{
        width: 100%;
    }

    .box_main_about .right_main_about{
        width: 100%;
    }


}

@media(max-width:768px) {

    .album .item_album {
        width: 50%;
    }


    .list_article>li {
        width:50%;
        float: left;
        padding: 15px;
    }
    .title_article a {
        font-size: 14px;
        height: 36px;
    }

    .date_time {
        font-size: 15px;
    }



    .col_list_footer>li {
        width: 100%;
    }

    .col_ft_logo {
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        margin:  0 auto;
    }

    .footer_top {
        padding-top: 125px;
    }



    .col_list_footer .title_footer {
        text-align: center !important;
    }

    .form_subscribe {
        margin: 0 auto;
    }

    .ft_col .social_icons {
        text-align: center !important;
    }

    .list_album .item_list {
        width: 50%;
    }


    .list_service li {
        width:50%;
    }


    .form_search {
        max-width: 100%;
    }
    .box_header_top {
        margin: 0px;
    }

    .right_header_top , .left_header_top{
        width: 100%;
        text-align: center;
        justify-content: center;
    }


    .left_content , .right_content {
        width: 100%;
        float: none;

    }

    .box_caption {
        position: initial;
        padding: 15px 0px 65px 0px;
    }

    .title_caption {
        font-size: 34px;
    }

    .short_caption {
        font-size: 18px;
    }

    .box_caption:before {
        opacity:0.8;
    }

}

@media(max-width:736px) {

}
@media(max-width:668px) {

}
@media(max-width:600px) {

}
@media(max-width:576px) {


}
@media(max-width:480px) {

    .images_id_page {
        height: 150px;
    }

    .list_article>li {
        width:100%;
        float: left;
        padding: 15px;
    }



    .list_service li {
        width:100%;
    }

    .list_footer_bottom>li {
        width: 100%;
    }

    .title_main {
        font-size: 24px;
        margin: 0;
    }

    .left_header_top {
        padding: 5px 0px;
        height: auto;

    }
    .right_header_top {
        height: 45px;
    }



}
@media(max-width:415px) {

}
@media(max-width:384px) {
    .list_album .item_list {
        width: 100%;
    }
    .album .item_album {
        width: 100%;
    }



}
@media(max-width:990px) {


}

/*-- //Responsive design --*/